.chat {
    color: #b0b0b0;
    font-size: 12px;
    padding: 20px;
}

.file-upload-wrapper {
    color: #b0b0b0;
    text-align: center;
    display: inline-block;
    border: 1.5px dashed #00bd95;
    border-radius: 18px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-label:hover {
    cursor: pointer;
}

.cloud-icon {
    color: #00bd95;    
}

#file-upload {
    display: none;
}

.text-light {
    color: #b0b0b0;
    font-size: 10px
}

.text-white {
    color: #f0f0f0;
}

.space-below {
    margin-bottom: 20px;
}

.align-center {
    text-align: center;
}

.sub-text {
    font-size: 8px;
}

.exp-title {
    color: #00bd95;
    margin: 0;
    text-transform: uppercase;
}

.exp-company {
    background-color: #00bd95;
    color: #282828;
    font-weight: bold;
    font-size: 10px;
    display: inline-block;
    padding: 2px 8px;
    margin-right: 10px;
    border-radius: 2px;
}

.exp-time {
    background-color: #3d3d3d;
    color: #b0b0b0;
    font-size: 8px;
    padding: 2px 8px;
    border-radius: 2px;
}

.exp-desc {
    color: #b3b0b0;
    list-style-position: inside;
    padding: 10px;
}

.exp-desc li {
    font-size: 10px;
}