* {
    box-sizing: border-box;
}

body {
    background-color: #24242F;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    background-image: url('assets/background-3.jpg');
    background-repeat: repeat;
    -webkit-background-size: 600px;
    -moz-background-size: 600px;
    -o-background-size: 600px;
    background-size: 600px;
}

.bg-light {
    background-color: #20272F;
}

.bg-dark {
    background-color: #171C22;
}

@media only screen and (max-width: 980px) {
    .App {
        gap: 0;
    }
    
    .App > * {
        width: 100%;
    }

    .main-view {
        margin: 0;
    }

    .spacer {
        display: none;  
    }

    .header.title {
        font-size: 22px;
    }

    .header {
        font-size: 16px;
    }

    .padding-hor {
        padding: 30px;
    }

    .cards {
        padding: 15px;
    }
}